{% extends "base.html" %}
{% block content %}
<div>
    {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
    {{ macros.m_row_start('5') }}
    {{ macros.m_row_end() }}
    <nav>
        {{ macros.m_tab_head_start() }}
        {{ macros.m_tab_head2('normal', '일반', true) }}
        {{ macros.m_tab_head2('options', '옵션', false) }}
        {{ macros.m_tab_head_end() }}
    </nav>
    <form id='setting' name='setting'>
        <div class="tab-content" id="nav-tabContent">
            {{ macros.m_tab_content_start('normal', true) }}
            {{ macros.setting_button([['install_btn', '설치/업데이트'], ['uninstall_btn', '삭제']], 'gallery-dl', '현재 버전: ' + arg['current_version'] ) }}
            {{ macros.setting_button([['bypass', '우회'], ['undo_bypass' ,'복원']], 'bypass', '차단된 사이트를 우회합니다. docker버전에서만 가능합니다. sjva전체에 적용됩니다.' ) }}
            {{ macros.m_hr()}}
            {{ macros.info_text_go('github-gallery-dl', '원작자 repo', 'https://github.com/mikf/gallery-dl') }}
            {{ macros.m_tab_content_end() }}


            {{ macros.m_tab_content_start('options', false) }}
            <!-- --option -->
            {{ macros.setting_button([['default_btn', '기본 설정으로 복원']], '', '/app/data/custom/gallery-dl/bin/gallery-dl-default.conf' ) }}
            {{ macros.setting_input_textarea('gallery-dl_option_value', '/etc/gallery-dl.conf 설정', value=arg['gallery-dl_option_value'], col='20', row='30', desc=['참고: https://github.com/mikf/gallery-dl/blob/master/docs/gallery-dl-example.conf', '위치: /app/data/custom/gallery-dl/gallery-dl.conf']) }}
            {{ macros.m_tab_content_end() }}
        </div>
        <!--tab-content-->
    </form>
</div>
<!--전체-->

<script type="text/javascript">
    let package_name = "{{ arg['package_name'] }}";
    let is_installed = "{{ arg['is_installed'] }}" == "True" ? true : false;
    let current_version = "{{ arg['current_version'] }}"
    console.log(package_name, is_installed, current_version)

    $(document).ready(function() {
        $('[id^=gallery-dl]').each(function(index) {
            use_collapse(this.id)
        });
    });

    $("body").on('click', '#install_btn', function(e) {
        $.get({
            url: '/' + package_name + '/ajax/install',
            success: function(data) {
                command_modal_show('설치')
            }
        });
    });

    $("body").on('click', '#uninstall_btn', function(e) {
        $.get({
            url: '/' + package_name + '/ajax/uninstall',
            success: function(data) {
                command_modal_show('제거')
            }
        });
    });

    $("body").on('click', '#default_btn', function(e) {
        $.get({
            url: '/' + package_name + '/ajax/default_setting',
            success: function(data) {
                command_modal_show('복원')
            }
        });
    });

    $("body").on('click', '#bypass', function(e) {
        $.get({
            url: '/' + package_name + '/ajax/bypass',
            success: function(data) {
                command_modal_show('설치')
            }
        });
    });

    $("body").on('click', '#undo_bypass', function(e) {
        $.get({
            url: '/' + package_name + '/ajax/undo_bypass',
            success: function(data) {
                command_modal_show('제거')
            }
        });
    });

    $('[id^=gallery-dl]').change(function() {
        use_collapse(this.id);
    });
</script>
{% endblock %}